# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://lijin1201.github.io/devblog
date_format: "ordinal"
title: "리진 LI JIN"
subtitle: "개발일지"
description: "리진의 개발일지"
keywords: LI JIN, 리진
timezone: Asia/Seoul
encoding: "utf-8"
# Left bottom corner
since: 2022-
# Repository
##repository: mzlogin/mzlogin.github.io
# 对 css 和 js 资源的 cdn 加速配置
cdn:
    jsdelivr:
        enabled: false
# 可选组件配置
components:
    # 分享
    # weibo,qq,wechat,douban,qzone,linkedin,facebook,twitter
    share:
        enabled: false
        hide-platforms: qq,facebook
    # 不蒜子访问统计
    busuanzi:
        enabled: false
        start_date: 2020-05-03
    # My Popular Repositories (LJ: false)
    side_bar_repo:
        enabled: false
        limit: 5
    # 文章字数统计
    word_count:
        enabled: true
    # 页面右上角，以及「关于」页面的二维码
    # 修改图片请替换 assets/images/qrcode.jpg
    qrcode:
        enabled: false
        image_alt: 리진
    # 维基索引页使用哪种视图，支持 列表（list）/分类（cate）
    wiki:
        view: cate
# 压缩页面内容
compress_html:
  clippings: all
  comments: ["<!--", "-->"]
# 代码高亮风格，支持的 theme 列表见 https://github.com/mzlogin/rouge-themes
highlight_theme: github

# ---------------- #
#      Author      #
# ---------------- #
author: LI JIN 리진
organization: 
organization_url: 
github_username: geplum
location: Daegu, Korea
email: jinlee1201@nate.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: "Main Page"

  -
    href: /categories/
    label: Categories

#   -
#     href: /archives/
#     label: 归档

#   -
#     href: /open-source/
#     label: 开源

##  -
##    href: /wiki/
##    label: 维基

##  -
##    href: /links/
##    label: 链接

  -
    href: /about/
    label: About

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 10
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
plugins:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk, utterances, beaudar
comments_provider: utterances
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# disqus 配置参考：https://disqus.com
disqus:
    username: 
# gitment 配置参考：https://imsun.net/posts/gitment-introduction/
gitment:
    owner: mzlogin
    repo: blog-comments
    oauth:
        client_id: d2e1cbbd298958076462
        client_secret: b42a4178e5fd4a7cf63189ef4b1453b05c375709
# gitalk 配置参考：https://github.com/gitalk/gitalk#install
gitalk:
    owner: mzlogin
    repo: blog-comments
    clientID: d2e1cbbd298958076462
    clientSecret: b42a4178e5fd4a7cf63189ef4b1453b05c375709
# utterances 配置参考：https://utteranc.es/
utterances:
    repo: geplum/comments
# beaudar 配置参考：https://beaudar.lipk.org/
beaudar:
    repo: mzlogin/blog-comments
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: false
    # 最多显示多少条搜索结果
    limit: 12

# ---------------- #
#      Google      #
# ---------------- #
##google:
##    analytics_id: UA-80669434-1
##    adsense:
##        footer: true
##        sidebar: true 
##        sidebar-detail: true 
##        content_header: false
##        content_footer: false
